body {
    display: flex;
    justify-content: center;
}

.button{
    display: flex;
    justify-content: center;
}


.wrapper {
    display: flex;
    height: 1100px;
    width: 1035px;
}

.grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 3px solid black;
    row-gap: 3px;
    column-gap: 3px;
}

.grid-item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 3px solid black;
}
