body {
    display: flex;
    justify-content: center;
}
.wrapper {
    display: flex;
    height: 1100px;
    width: 1035px;
}
.grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 3px solid black;
    row-gap: 3px;
    column-gap: 3px;
}
.grid-item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 3px solid black;
}
#_1 {
    background-repeat: no-repeat;
    background-image: url("../../../../frames/final/frame001.png");;
    grid-row: span 1;
}
#_2 {
    background-repeat: no-repeat;
    background-image: url("../../../../frames/final/frame002.png");;
    grid-column: span 2;
}
#_3 {
    background-repeat: no-repeat;
    background-image: url("../../../../frames/final/frame003.png");;
    grid-row: span 2;
}
#_4 {
    background-repeat: no-repeat;
    background-image: url("../../../../frames/final/frame004.png");;
    grid-column: span 3;
}
#_5 {
    background-repeat: no-repeat;
    background-image: url("../../../../frames/final/frame005.png");;
    grid-column: span 2;
}
#_6 {
    background-repeat: no-repeat;
    background-image: url("../../../../frames/final/frame006.png");;
    grid-column: span 2;
}
#_7 {
    background-repeat: no-repeat;
    display: none;
}
#_8 {
    background-repeat: no-repeat;
    display: none;
}
#_9 {
    background-repeat: no-repeat;
    display: none;
}
#_10 {
    background-repeat: no-repeat;
    display: none;
}
#_11 {
    background-repeat: no-repeat;
    display: none;
}
#_12 {
    background-repeat: no-repeat;
    display: none;
}
