<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="page_css/page4.css">
</head>
<body>
   <div class="wrapper">
    <div class="grid-container">
        <div class="grid-item" id="_1">1</div>
        <div class="grid-item" id="_2">2</div>
        <div class="grid-item" id="_3">3</div>
        <div class="grid-item" id="_4">4</div>
        <div class="grid-item" id="_5">5</div>
        <div class="grid-item" id="_6">6</div>
        <div class="grid-item" id="_7">7</div>
        <div class="grid-item" id="_8">8</div>
        <div class="grid-item" id="_9">9</div>
        <div class="grid-item" id="_10">10</div>
        <div class="grid-item" id="_11">11</div>
        <div class="grid-item" id="_12">12</div>

      </div>
   </div> 
    
</body>
</html>