.wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}
.grid-container {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 3px solid black;
    row-gap: 3px;
    column-gap: 3px;
}
.grid-item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid black;
}
#_1 {
    background-image: url("images/frame_0010.png");
    background-size: contain;
    background-repeat: no-repeat;
    grid-row: 1/span 2;
}
#_2 {
    background-image: url("images/frame_0010.png");
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: span 2;
}
#_3 {
    background-image: url("images/frame_0010.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
}
#_4 {
    background-image: url("images/frame_0010.png");
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: span 2;
}
#_5 {
    background-image: url("images/frame_0010.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#_6 {
    background-image: url("images/frame_0010.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: None;
}
#_7 {
    background-image: url("images/frame_0010.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: None;
}
#_8 {
    background-image: url("images/frame_0010.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: None;
    display: none;
}
#_9 {
    background-image: url("images/frame_0010.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: None;
    display: none;
}
