/*
 * Globals
 */


/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

/* .cover-container {
  max-width: 42em;
} */


/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

/* form {
  background-color: rgba(240, 240, 240, 0.2);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
} */

/* form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input[type="text"],
form input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

form button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #45a049;
} */

.container {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 50%;
}

.left {
  order: 1;
}

.right {
  order: 2;
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
  }
}

.left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cover-container {
  padding: 0;
}

/* @media (max-width: 600px) {
  .column {
    flex: 100%;
  }
} */

/* form {
  float: right;
  width: 50%;
}

.left {
  float: left;
  width: 50%;
} */

.left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="file"] {
  margin-bottom: 20px;
}

input[type="url"] {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}