.carousel {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .carousel-item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .carousel-item.active {
    opacity: 1;
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .box {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    transform: translateX(-100%);
}

.box.visible {
    opacity: 1;
    transform: translateX(0);
}

.box h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.box p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;
}
  
.box button {
    padding: 0.5rem 2rem;
    margin: 3rem;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.box button:hover { 
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 1px #000000, 0 0 2px #000000, 0 0 3px #000000, 0 0 3px #000000;
}

.box button:active {
    color: #000;
}

.button-container {
    display: flex; /* Display buttons side by side */
}

/* .box button {
    padding: 0.5rem 2rem;
    margin: 1.2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.box button:hover {
    background-color: rgb(180, 180, 180);
    color: black;
}

.button-container {
    display: flex; 
} */

.icon-button {
    border: none;
    background: none;
    padding: 0;
    margin-right: 10px; /* Adjust spacing between buttons */
    border-radius: 0.5rem;
}

.icon-button img {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
}

#link-input {
  padding: 10px;
  border-radius: 25px;
  width: 250px;
}

/* ::placeholder {
  padding-left: 10px;
} */

#video-container {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto; /* Pushes the container to the right */
}

#video-preview {
  width: 100%;
  max-width: 80%;
  height: auto;
  display: none;
  margin-top: 1rem;
}

/* #close-preview {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
} */

@media (max-width: 768px) {
  .container {
      flex-direction: column; /* Stack items vertically on smaller screens */
  }
  
  .box,
  #video-container {
      width: 100%;
      max-width: 100%;
  }
}


/* .box input {

} */
  
  /* .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .overlay:hover {
    opacity: 1;
  }
  
  .overlay button {
    padding: 0.5rem 2rem;
    margin: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .overlay:hover button {
    opacity: 1;
  }
  
  .upload-button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .link-button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
  } */